  
.jumbotron {
    background-image: url("../images/bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: white;
    font-family: Impact;
    font-size: 30px ;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}